*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #406459;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1rem;
}

.title {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.counter-num {
  font-size: 8rem;
  color: #000;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.4rem;
  outline: none;
  background-color: transparent;
  border: 2px solid #111;
  transition: color 0.3s ease-in;

  &:hover {
    background-color: #111;
    color: #fff;
    cursor: pointer;
  }
}
