*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #406459;
  height: 100vh;
  overflow: hidden;
  padding-inline: 1rem;
}

.title {
  text-align: center;
  padding-block: 2rem;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
  font-size: 2rem;

  .list-item {
    display: inline-block;
    text-decoration: none;
    color: #eee;
    transition: all 0.2s;

    &:hover {
      color: yellowgreen;
      transform: scale(1.1);
    }
  }
}
